<?xml version="1.0" encoding="UTF-8"?>
<Context>
	<JarScanner scanClassPath="false" scanAllFiles="false" scanAllDirectories="false" />
	<Resource
		name="jdbc/lopendezaken"
		factory="org.apache.naming.factory.BeanFactory"
		type="org.h2.jdbcx.JdbcDataSource"
		URL="jdbc:h2:mem:ibis4test;NON_KEYWORDS=VALUE;DB_CLOSE_ON_EXIT=FALSE;DB_CLOSE_DELAY=-1;TRACE_LEVEL_FILE=0;"
	/>

	<Resource
			name="jdbc/lopendezaken-postgresql"
			auth="Container"
			factory="org.apache.naming.factory.BeanFactory"
			type="org.postgresql.xa.PGXADataSource"
			url="jdbc:postgresql://${jdbc.hostname}:${jdbc.port:-5432}/${jdbc.database}?tcpKeepAlive=${jdbc.tcpKeepAlive:-true}${jdbc.adittionalUrlParameters}"
			user="${jdbc/username}"
			password="${jdbc/password}"
	/>

</Context>